.MailList {
  &__entries {
    position: absolute;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    & .MailList__entry:last-child {
      border-bottom: 1px solid #a2add7;
    }
  }
  &__entry {
    border-top: 1px solid #a2add7;
    padding: 5px;
    position: relative;

    &_info {
      display: flex;
      overflow: hidden;
      white-space: nowrap;

      font-size: 0.875em;
      line-height: 24px;
    }
    &_from {

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      flex: 0 0 200px;

    }
    &_subject {
      flex: 1 1 0;
      min-width: 0;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    &_subject.MailList__entry_subject_emphasized {
      font-weight: bold;
    }
    &_tool {
      flex: 0 0 32px;
    }

    &_body {
      display: none;
      border: 1px dotted #a2add7;
      padding: 10px;
      margin: 5px;
      background: #dfe5f7;
      border-radius: 5px;
      line-height: 1.5em;

      & p {
        padding: 0;
        margin: 0 0 1em 0;
      }
    }
    &_body_is_open {
      display: block;
    }
  }
}